# Rust
/target/

Cargo.lock

# DFX
.dfx/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
.env.local 

#NPM
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#Targets
target/
*.wasm
*.wasm.gz

